* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.add-todo-form {
  width: 100vw;
  color: white;
  padding: 3rem;
  background-color: rgb(31, 129, 185);
}

.add-todo-form > h1 {
  font-size: 5em;
  text-align: center;
}
.add-todo-form > .input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 15px auto;
}

.add-todo-form > .input-container > input,
.todo-text {
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.281);
}

.todo-list {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.todo-card {
  width: 100%;
  margin: 15px;
  display: flex;
}

.todo-text {
  text-align: center;
  font-size: x-large;
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}
.edited {
  background-color: rgba(200, 224, 238, 0.425);
  border: 1px solid rgba(0, 0, 0, 0.281);
}

.my-btn {
  font-size: 18px;
  cursor: pointer;
  outline: 0;

  border: none;
  text-align: center;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin: 10px;
  transition: 0.3s;
  box-shadow: #00000063 2px 2px 3px 0px;
}

.my-btn:hover {
  transform: translateY(-2px);

  box-shadow: #00000063 2px 4px 3px 0px;
}

.btn-primary {
  color: white;
  background: rgb(60, 168, 231);
}

.btn-primary:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(17, 17, 17);
}

.btn-danger {
  color: white;
  background: rgb(233, 79, 58);
}

.btn-danger:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(233, 79, 58);
}

.text-complete {
  text-decoration: line-through;
}